@page
@model WebApp.Pages.BooksCllectionModel
@{
    Layout = "_Layout";

}
<link rel="stylesheet" href="~/css/main.css">

<body>

    <p>User page</p>
    @if (User.FindFirst("id") != null)
    {
        <p> Your user id is: @User.FindFirst("id").Value</p>
    }
    <p> Your name is @User.Identity.Name</p>

    <div class="countainer">
        <table method="GET" class="table">
            <tr>
                <th>Book id</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Type</th>
                <th>Description</th>


            </tr>
            @{

                foreach (var item in @Model.books)
                {
                    <tr>

                        <td> <em>@item.Id</em></td>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.Type</td>
                        <td>@item.Description</td>

                    </tr>
                }
            }
            @*



            *@

        </table>
    </div>

</body>

