@page
@model WebApp.Pages.BooksCllectionModel
@{
    Layout = "_Layout";

}
<link rel="stylesheet" href="~/css/main.css">

<body>

   @* <p>User page</p>*@
    @if (User.FindFirst("id") != null)
    {
        <p> Your user id is: @User.FindFirst("id").Value</p>
    }
    <p> Your name is @User.Identity.Name</p>

    <div class="countainer">
        <table method="GET" class="table">
            <tr>
                <th>Review id</th>
                <th>Book id</th>
                <th>Book Title</th>
                <th>User</th>
                <th>Review</th>
                <th>Date</th>


            </tr>
            @{

                foreach (var item in @Model.Reviews)
                {
                    <tr>

                        
                        <td> <a href="/EditReview?id=@item.ReviewId"><em>@item.ReviewId</em></a></td>

                       

                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.User1.Name</td>
                        <td>@item.AddReview</td>
                        <td>@item.Date</td>

                    </tr>
                }
            }
            @*



            *@

        </table>
    </div>

</body>

