

@page
@model WebApp.Pages.MainHTMLModel
@{
    Layout = "_Layout";
}

    <link rel="stylesheet" href="~/css/main.css">
   
<body>

        <div class="countainer">
            <table method="GET" class="table">
                <tr>
                    <th>Book id</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Type</th>
                    <th>Description</th>


                </tr>

                @{
               
                    foreach (var item in @Model.books)
                    {
                    <tr >

                        <td> <a href="/AddReview?id=@item.Id"><em>@item.Id</em></a></td>
                            <td>@item.Title</td>
                            <td>@item.Author</td>
                            <td>@item.Type</td>
                            <td>@item.Description</td>
                      
                        </tr>
                    }
                }
                @*         

              

              *@

            </table>
        </div>
    
</body>

